@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Roboto-Regular;
    background-repeat: space;
    background-size: unset;
    background-image: url('Img/me/perfect picture 6.jpg');
}

h4 {
    font-family: Roboto-Bold;
}

.legend span {
    margin-bottom: 20px;
    margin-left: 3%;
    padding: 5px 5px 5px 1px;
    text-align: center;
    border-radius: 30%;
    cursor: pointer;
}

#TextBehind {}

#CardBg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: round;
    background-image: url('Img/me/perfect picture 6.jpg');
    opacity: 0.3;
}

#CardBody {
    position: relative;
}

#CardContent {
    position: relative;
    z-index: 1;
}